{% if bamboo_agent_capabilities is defined %}
{% for capability in bamboo_agent_capabilities %}
{% if capability.properties is defined %}
# {{ capability.name }}
{% for property in capability.properties %}
{{ property.key }} = {{ property.value }}

{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
