CLEANUPDIR1={{ bamboo_agent_data_folder }}/xml-data/build-dir/
CLEANUPDIR2={{ bamboo_agent_application_folder }}/.m2/repository
CLEANUPDIR3=/tmp/
MAXAGE=+0

find $CLEANUPDIR1 -mindepth 1 -maxdepth 1 -type d -ctime $MAXAGE -exec echo {} \;
find $CLEANUPDIR1 -mindepth 1 -maxdepth 1 -type d -ctime $MAXAGE -exec rm -rf {} \;
find $CLEANUPDIR2 -mindepth 1 -maxdepth 1 -type d -ctime $MAXAGE -exec echo {} \;
find $CLEANUPDIR2 -mindepth 1 -maxdepth 1 -type d -ctime $MAXAGE -exec rm -rf {} \;
find $CLEANUPDIR3 -mindepth 1 -maxdepth 1 -type d -ctime $MAXAGE -exec echo {} \;
find $CLEANUPDIR3 -mindepth 1 -maxdepth 1 -type d -ctime $MAXAGE -exec rm -rf {} \;

echo "bamboo file cleanup finished"
