[Unit]
Description=bambooagent
After=syslog.target network.target

[Service]
Environment=PATH=/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/bin:/bin{% if bamboo_agent_capabilities is defined %}{% for item in bamboo_agent_capabilities %}{% if item.binary_path is defined %}:{{ item.binary_path }}{% endif %}{% endfor %}{% endif %}

Environment=JAVA_TOOL_OPTIONS=-Dfile.encoding=UTF-8

{%if bamboo_agent.use_proxy is defined %}
Environment=JAVA_OPTS=-Dhttp.nonProxyHosts={% for item in bamboo_agent.no_proxy %}{{ item }}\|{% endfor %} -Dhttp.proxyHost={{ bamboo_agent.http_proxy_host }} -Dhttp.proxyPort={{ bamboo_agent.http_proxy_port }} -Dhttps.proxyHost={{ bamboo_agent.https_proxy_host }} -Dhttps.proxyPort={{ bamboo_agent.https_proxy_port }} -Dhttp.proxyUser={{ bamboo_agent.proxy_user }} -Dhttp.proxyPassword={{ bamboo_agent.proxy_password }}
Environment=http_proxy=http://{{ proxy_user}}:{{ proxy_password }}@{{ proxy_host }}:{{ proxy_port }}
Environment=https_proxy=http://{{ proxy_user}}:{{ proxy_password }}@{{ proxy_host }}:{{ proxy_port }}
Environment=no_proxy={% for item in bamboo_agent.no_proxy %}{{ item }},{% endfor %}
{% endif %}

Type=forking
User=bambooagent
Group=bambooagent
ExecStart=/home/bambooagent/bamboo-agent-home/bin/bamboo-agent.sh start
ExecStop=/home/bambooagent/bamboo-agent-home/bin/bamboo-agent.sh stop

[Install]
WantedBy=multi-user.target
