<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  {% if bamboo_agent.maven_settings.mirrors is defined %}
	<mirrors>
  {% for mirror in bamboo_agent.maven_settings.mirrors %}
		<mirror>
			<id>{{ mirror.id }}</id>
			<mirrorOf>{{ mirror.mirror_of }}</mirrorOf>
			<url>{{ mirror.url }}</url>
			<name>{{ mirror.name }}</name>
		</mirror>
  {% endfor %}
	</mirrors>
  {% endif %}

  {% if bamboo_agent.maven_settings.profiles is defined %}
	<profiles>
  {% for profile in bamboo_agent.maven_settings.profiles %}
		<profile>
			<id>{{ profile.id }}</id>

      {% if profile.properties is defined %}
			<properties>
        {% for property in profile.properties %}
				<{{ property.name }}>{{ property.value }}</{{ property.name }}>
        {% endfor %}
			</properties>
      {% endif %}

			<repositories>
        {% for repository in profile.repositories %}
				<repository>
					<id>{{ repository.id }}</id>
					<url>{{ repository.url }}</url>
					<releases>{{ repository.releases }}</releases>
					<snapshots>{{ repository.snapshots }}</snapshots>
				</repository>
        {% endfor %}
			</repositories>

			<pluginRepositories>
        {% for plugin_repository in profile.plugin_repositories %}
				<pluginRepository>
					<id>{{ plugin_repository.id }}</id>
					<url>{{ plugin_repository.url }}</url>
					<releases>{{ plugin_repository.releases }}</releases>
					<snapshots>{{ plugin_repository.snapshots }}</snapshots>
				</pluginRepository>
        {% endfor %}
			</pluginRepositories>

		</profile>
  {% endfor %}
	</profiles>
  {% endif %}

  {% if bamboo_agent.maven_settings.profiles is defined %}
	<activeProfiles>
  {% for profile in bamboo_agent.maven_settings.profiles %}
		<activeProfile>{{ profile.id }}</activeProfile>
  {% endfor %}
	</activeProfiles>
  {% endif %}

  {% if bamboo_agent.maven_settings.plugin_groups is defined %}
	<pluginGroups>
  {% for plugin_group in bamboo_agent.maven_settings.plugin_groups %}
		<pluginGroup>{{ plugin_group }}</pluginGroup>
  {% endfor %}
	</pluginGroups>
  {% endif %}

  {% if bamboo_agent.maven_settings.servers is defined %}
	<servers>
  {% for server in bamboo_agent.maven_settings.servers %}
    <server>
      <id>{{ server.id }}</id>
      <username>{{ server.username }}</username>
      <password>{{ server.password }}</password>
    </server>

  {% endfor %}
  </servers>
  {% endif %}


  {% if bamboo_agent.maven_settings.proxies is defined %}
	<proxies>
  {% for proxy in bamboo_agent.maven_settings.proxies %}
    <proxy>
      <id>{{ proxy.id }}</id>
      <active>true</active>
      <host>{{ proxy.host }}</host>
      <port>{{ proxy.port}}</port>
      <username>{{ proxy.username }}</username>
      <password>{{ proxy.password }}</password>
      <nonProxyHosts>{{ proxy.non_proxy_hosts | default('') }}</nonProxyHosts>
    </proxy>

  {% endfor %}
  </proxies>
  {% endif %}


</settings>

